
.app_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.movie-container {
    width: 300px;
    border : 1px solid black;
    background-color: darkblue;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.movie-container img {
    max-width: 90%;
}

.movie_info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.infoBox {
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;

    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.infoTitle {
    margin-top: 50px;
}

.overview {
    margin-top: 30px;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}